{% extends "base.html" %}

{% block content %}
<h1>Mittauspaikka 1</h1>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Yksilöivä tunniste</th>
            <th>Nimi</th>
            <th>Osoite</th>
            <th>GPS / sijainti</th>
            <th>Sijainnin kuvaus</th>           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Bodom, Oittaan uimaranta</td>
            <td>Oittaantie 2, 02740 Espoo</td>
            <td>60.241306, 24.660092</td>
            <td>Oittaan leirintäalueen viereisen uimarannan rantavesi</td>         
        </tr>

    </tbody>
</table>

<h3>Suoritettavat mittaukset</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Suoritettavat mittaukset</th>
            <th>Lisätiedot</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Uimaveden laadunseuranta</td>
            <td> <i>Tähän luettelo siitä, mitä mittauksia johonkin vakiotutkimukseen kuuluu?</i></td>
        </tr>

    </tbody>
</table>

<p>
    <button class="btn btn-danger">Poista</button> <button  class="btn btn-default">Muokkaa</button >
</p>




{% endblock %}
