{% extends "base.html" %}

{% block content %}
<h1>Lisää mittaustulos</h1>

<h3>Mittauspaikan tiedot</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Yksilöivä tunniste</th>
            <th>Nimi</th>
            <th>Osoite</th>
            <th>GPS / sijainti</th>
            <th>Sijainnin kuvaus</th>           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Bodom, Oittaan uimaranta</td>
            <td>Oittaantie 2, 02740 Espoo</td>
            <td>60.241306, 24.660092</td>
            <td>Oittaan leirintäalueen viereisen uimarannan rantavesi</td>         
        </tr>

    </tbody>
</table>

<h3>Tulos</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ajankohta</th>
            <th>Mittaus</th>
            <th>Tulos</th>
            <th>Mittaaja</th>
            <th>Lisätiedot</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>

<p>
    <button  class="btn btn-default">Tallenna</button>
</p>



{% endblock %}
